{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/maps.css">
{% endblock %}

{% block content %}

    <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">SARL AUTHENTIK SCOOTER</h6>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3088.3410169383087!2d-1.5045164345168494!3d43.46498047259935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sZone%20Artisanale%20Maignon%208%20all%C3%A9e%20Didier%20DAURAT%2C%2064600%20Anglet.!5e1!3m2!1sfr!2sfr!4v1574262070513!5m2!1sfr!2sfr" width="1410" height="800" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            <p>
                <i class="fas fa-home mr-3"></i>Zone Artisanale Maignon 8 allée Didier DAURAT, 64600 Anglet.</p>
            <p>
                <i class="fas fa-envelope mr-3"></i>contact@authentikscooter.fr</p>
            <p>
                <i class="fas fa-phone mr-3"></i>Tél: 05 59 58 05 68</p>
        </div>

    </div>

{% endblock %}