{% extends 'layout.html.twig' %}

{% block content %}

    <div class="page_principal">
        <div class="imagebanner">
            <a href="/home/index">
            <img class="banner"
                 src="http://www.authentikscooter.fr/_frame/banusr.jpg"
                 alt="image banner">
            </a>
        </div>
    </div>

    <div class="page_principal">
        <div class="image0">
                <img class="bloc0" src="https://www.krys.com/media/shopfinder/cache/726x/c8561bb18788ecff690e82af578ca37b/shopfinder/brand/1001/banner_vespa1.png"
                     alt="image bloc 0">
        </div>
    </div>

    <div class="page_principal">
        <div class="w-100">
            <a href="http://www.authentikscooter.fr/piaggio/Gamme%20Piaggio%20PX2.pdf">
                <img class="bloc" src="http://www.authentikscooter.fr/piaggio/bv000002.jpg"
                     alt="image bloc 1">
        </div>
    </div>

    <div class="page_principal">
        <div class="w-100">
            <a href="http://www.authentikscooter.fr/piaggio/Gamme%20Piaggio%20Automatique.pdf">
            <img class="bloc"
                 src="http://www.authentikscooter.fr/piaggio/bv000006.jpg"
                 alt="image bloc 2">
        </div>
    </div>

    <div class="page_principal">
        <div class="w-100">
            <img class="bloc" src="http://www.authentikscooter.fr/piaggio/bv000008.jpg" alt="image bloc 3">
        </div>
    </div>
{% endblock %}
