{% extends 'layout.html.twig' %}

{% block content %}
    <div class="page_principal">
        <div class="imagebanner">
            <img class="banner"
            src="http://www.authentikscooter.fr/_frame/banusr.jpg"
            alt="image banner">
        </div>
    </div>

    <div class="page_principal">
        <div class="title">
            <h1>SPECIALISTE SCOOTERS VESPA DES ANNEES 50 A NOS JOURS</h1>
        </div>
    </div>
    <div class="page_principal">
        <div class="w-100">
            <a href="/shop/index">
            <img class="bloc"
                 src="http://www.authentikscooter.fr/topic/bv000005.jpg"
                 alt="image bloc 1">
            </a>
        </div>
    </div>

    <div class="page_principal">
        <div class="w-100">
            <a href="/piaggio/index">
                <img class="bloc" src="http://www.authentikscooter.fr/topic/bv000014.jpg" alt="image bloc 2">
            </a>
        </div>
    </div>

    <div class="page_principal">
        <div class="w-100">
            <a href="/lml/index"> <img class="bloc" src="http://www.authentikscooter.fr/topic/bv000013.jpg" alt="image bloc 3"></a>
        </div>
    </div>


    <div class="page_principal">
        <div class="w-100">
            <a href="/team/index">
                <img class="bloc" src="http://www.authentikscooter.fr/topic/bv000009.jpg" alt="image bloc 4">
            </a>
        </div>
    </div>
{% endblock %}
