{% extends 'layout.html.twig' %}
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/burgerstyle.css">
{% endblock %}

{% block content %}

    <head>
        <meta charset="UTF-8">
        <title>Le wild book Bairritz sept19 | Wild Code School</title>
        <meta name="description" content="le wild book des wilders Biarritz, école digital | Wild Code School, surf et code">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="assets/favicons/apple-icon-57x57-e1d8d8663b667b33d3b19c84da2733516fabb40cd6d088aabf9539abc082e516.png" type="image/png" sizes="16x16 32x32">
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway|Varela+Round&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a54c212624.js"></script>
    </head>

    <body>
    <header>
        <div class="brand-logo">
            <img src="https://scontent.flux1-1.fna.fbcdn.net/v/t1.0-9/20902_1583487731916156_7974205154352209499_n.jpg?_nc_cat=104&_nc_oc=AQmisBp7qAj2NkBJPKRh5Td5V3peabHMAuSozO2SoDPzq5yr3CJhA-ea-zC1itiG63w&_nc_ht=scontent.flux1-1.fna&oh=1b976d0892d897e072c144007005c44f&oe=5E2BDAB8" alt=" Wild Code School logo">
        </div>
        <!--menuburgerdebut-->
        <nav>
            <div class="nav-burger">
                <ul id="menu-accordeon">
                    <li><a href="#"> <span>MENU</span>
                            <i class="fas fa-bars"></i></a>
                        <ul>
                            <li><a href="https://www.wildcodeschool.com/fr-FR/campus/biarritz" title="Wild Code School">Acceuil</a></li>
                            <li><a href="https://www.wildcodeschool.com/fr-FR/blog" title="Le blog de la wild code school">Piaggio</a></li>
                            <li><a href="https://www.wildcodeschool.com/fr-FR/decouvrir-ecole" title="Decouvre  ecole des wilders">LML</a></li>
                        </ul>
                    </li>
            </div>
            <!--menuburgerfin-->
            <ul class="nav-menu">
                <li>
                    <a href="https://www.wildcodeschool.com/fr-FR/campus/biarritz" title="Wild Code School">Acceuil</a>
                </li>
                <li>
                    <a href="https://www.wildcodeschool.com/fr-FR/blog" title="Le blog de la wild code school">Piaggio</a>
                </li>
                <li>
                    <a href="https://www.wildcodeschool.com/fr-FR/decouvrir-ecole" title="Decouvre  ecole des wilders">LML</a>
                </li>
            </ul>
        </nav>
    </header>



    </body>
    </html>


{% endblock %}