{% extends 'layout.html.twig' %}

{% block content %}
    <div class="page_principal">
        <div class="imagebanner">
            <a href="/home/index">
                <img class="banner"
                src="http://www.authentikscooter.fr/_frame/banusr.jpg"
                alt="image banner">
            </a>
        </div>
    </div>

    <div class="page_principal">
        <div class="image0">
            <img class="bloc0" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/LML_Logo.svg/1598px-LML_Logo.svg.png" alt="image bloc 0">
        </div>
    </div>

    <div class="page_principal">
        <div class="w-100">
            <a href="http://www.authentikscooter.fr/lml/Catalogue%20LML%204TPS.pdf">
            <img class="bloc1" src="http://www.authentikscooter.fr/lml/bv000001.jpg" alt="image bloc 1">
        </div>
    </div>

    <div class="page_principal">
        <div class="w-100">
            <a href="http://www.authentikscooter.fr/lml/Catalogue%20LML%204TPS.pdf">
            <img class="bloc"
                 src="http://www.authentikscooter.fr/lml/bv000002.jpg"
                 alt="image bloc 2">
        </div>
    </div>

    <div class="page_principal">
        <div class="w-100">
            <a href="http://www.authentikscooter.fr/lml/Catalogue%20LML%204TPS.pdf">
             <img class="bloc" src="http://www.authentikscooter.fr/lml/bv000009.jpg" alt="image bloc 3">
        </div>
    </div>

    <div class="page_principal">
        <div class="w-100">
            <img class="bloc"
                 src="http://www.authentikscooter.fr/lml/bv000013.jpg"
                 alt="image bloc 4">
        </div>
    </div>
{% endblock %}
