* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ffffff;
    color: #39424e;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}



/* Header */

header  {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    padding: 16px;
    background: #ffffff;
    z-index: 9;
    box-shadow: 2px 2px 10px 2px;
}

.brand-logo {
    width: 88px;
}

.brand-logo img {
    width: 100%;
}
/* pourleburgermenu debut */
.nav-menu {
    display: none; /* do not display in mobile view */
}

#menu-accordeon {
    padding:0;
    margin:0;
    list-style:none;
    text-align: right;
    width: 180px;
}
#menu-accordeon ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: match-parent;

}
#menu-accordeon li {
    background-color: #ed6c6d;
    background-image:-webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    border-radius: 6px;
    margin-bottom:2px;
    box-shadow: 3px 3px 3px #ffffff;
    border:solid 1px #ffffff
}
#menu-accordeon li li {
    max-height:0;
    overflow: hidden;
    transition: all .2s;
    border-radius:0;
    background: #ffffff;
    box-shadow: none;
    border:none;
    margin:0
}
#menu-accordeon a {
    display:block;
    text-decoration: none;
    color: #ed6c6d;
    padding: 3px 0;
    font-family: verdana;
    font-size:1em
}
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
    font-size:0.7em
}
#menu-accordeon li:hover {
    background: #ffffff
}
#menu-accordeon li li:hover {
    background: #ffffff;
}
#menu-accordeon ul li:last-child {
    border-radius: 0 0 6px 6px;
    border:none;
}
#menu-accordeon li:hover li {
    max-height: 15em;
}

.nav-icon {
    margin: 1em;
    width: 40px;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.nav-icon:hover:before {
    transform: translateY(12px) rotate(135deg);
}

.nav-icon:hover:after {
    transform: translateY(-12px) rotate(-135deg);
}

.nav-icon:hover div {
    transform: scale(0);
}
/* burgermenu fin */

/* Banner  ---------- */

.banner {
    position: relative;
    text-align: center;
}

.banner img {
    width: 100%;
    opacity: 0.7;
}

.banner-tag {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    border-radius: 15px;
    padding: 10px;
    background: #ed6c6d;
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.3em;
}


.info{
    width: 60%;
}


a {
    color: white;
    text-decoration: none;

}




/* iPads  ----------- */
@media screen  and ( min-width: 768px){
    body {
        font-size: 15px;
    }

    .banner-tag {
        font-size: 1.6em;
    }
}

/* Desktop -----------*/
@media screen and (min-width: 1024px) {
    body {
        font-size: 16px;
    }

    .brand-logo {
        width: 124.42px;
    }

    nav {
        width: 70%;
    }

    .nav-menu {
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 10px;
        list-style: none;
    }

    .nav-menu a {
        text-decoration: none;
        font-size: 1.125em;
        font-weight: 700;
        color: #39424e;
    }

    .nav-menu a:hover {
        color: #ed6c6d;
        opacity: 0.9;
    }

    .nav-burger {
        display: none;/* Do not display in Desktop */
    }

    .banner-tag {
        font-size: 1.75em;
    }
}

